.cover{
    background-image: url("../../assets/moun.jpg");
    backdrop-filter:blur(100%);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}